# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [7]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.copy()

# Review the features DataFrame
X = X.drop("credit_ranking", axis=1)
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [8]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [9]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [10]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

11

In [11]:
# Define the number of hidden nodes for the first hidden layer
first_hidden_nodes = 8

# Define the number of hidden nodes for the second hidden layer
second_hidden_nodes = 5

# Define the number of neurons in the output layer
number_output_neurons = 1

In [12]:
# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(units=first_hidden_nodes, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn.add(Dense(units=second_hidden_nodes, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

/Users/neebuntoum/anaconda3/envs/tensorflow/lib/python3.11/site-packages/keras/src/layers/core/dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [13]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │            96 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 5)              │            45 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 147 (588.00 B)

 Trainable params: 147 (588.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [14]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - accuracy: 0.4916 - loss: 0.7241
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.5450 - loss: 0.6882
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.6021 - loss: 0.6729
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.6737 - loss: 0.6469
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.6732 - loss: 0.6291
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.6956 - loss: 0.6194
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - accuracy: 0.7076 - loss: 0.6048
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7180 - loss: 0.5851
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.7192 - loss: 0.5801
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7436 - loss: 0.5319
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.7247 - loss: 0.5559
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7294 - loss: 0.5442
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7293 - loss: 0.5250
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7522 - loss: 0.5187
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 429us/step - accuracy: 0.7533 - loss: 0.5057
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.7506 - loss: 0.5172
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.7531 - loss: 0.5175
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - accuracy: 0.7623 - loss: 0.5166
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.7481 - loss: 0.5200
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7598 - loss: 0.5087
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.7455 - loss: 0.5259
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7548 - loss: 0.5289
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - accuracy: 0.7666 - loss: 0.5164
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7563 - loss: 0.5179
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - accuracy: 0.7601 - loss: 0.5097
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7514 - loss: 0.5127
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7421 - loss: 0.5288
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.7664 - loss: 0.5048
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - accuracy: 0.7552 - loss: 0.5204
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.7659 - loss: 0.4955
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7388 - loss: 0.5327
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.7603 - loss: 0.5253
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.7438 - loss: 0.5126
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7697 - loss: 0.4944
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.7644 - loss: 0.5074
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - accuracy: 0.7518 - loss: 0.5146
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7744 - loss: 0.4766
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.7339 - loss: 0.5068
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.7510 - loss: 0.5068
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7584 - loss: 0.5054
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.7672 - loss: 0.4764
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.7759 - loss: 0.4821
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.7755 - loss: 0.4746
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - accuracy: 0.7744 - loss: 0.4746
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - accuracy: 0.7719 - loss: 0.4804
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.7881 - loss: 0.4644
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7654 - loss: 0.4899
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.7735 - loss: 0.4781
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - accuracy: 0.7987 - loss: 0.4567
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.7794 - loss: 0.4614

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [16]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 5ms/step - accuracy: 0.5375 - loss: 7.9850
Loss: 7.98502254486084, Accuracy: 0.5375000238418579

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [17]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [18]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
y_pred = nn_imported.predict(X_test)

# Display a sample of the predictions
y_pred[:5]

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[1.2034732e-06],
       [5.5401408e-13],
       [9.7836614e-01],
       [3.3426071e-11],
       [9.2116123e-01]], dtype=float32)

In [20]:
# Save the predictions to a DataFrame and round the predictions to binary results
results = pd.DataFrame(y_test)
results["Predicted"] = y_pred
#results["Predicted"] = results["Predicted"].apply(lambda x: round(x[0],2))
results.head()

      credit_ranking     Predicted
75                 0  1.203473e-06
1283               1  5.540141e-13
408                1  9.783661e-01
1281               1  3.342607e-11
1118               1  9.211612e-01

### Step 4: Display a classification report with the y test data and predictions

In [21]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, y_pred.round(), digits=4))

              precision    recall  f1-score   support

           0     0.5047    0.8564    0.6351       188
           1     0.6667    0.2547    0.3686       212

    accuracy                         0.5375       400
   macro avg     0.5857    0.5555    0.5019       400
weighted avg     0.5905    0.5375    0.4939       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**